<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Topics</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/topics.css">
   
</head>
<body>
    <% if (userType === 'teacher') { %>
        <%- include('teacher_header') %>
    <% } else { %>
        <%- include('header') %>
    <% } %>
    <section class="topics">

        <h1 class="heading">Physics Topics</h1>

        <div class="box-container">
            <% topicData.forEach((topics) => { %>
                <div class="box-container" data-topics-id="<%= topics.id %>">
                    <div class="box">
                        <h1 class="top_name"><%= topics.name %></h1>
                        <h1 class="sub_type"><%= topics.subject_type %></h1>
                        <img src="<%= topics.image %>" class="thumbnail">
                        <div>
                            <% if (userType === 'student') { %>
                                <a href="/topics/<%= topics.id %>" class="inline-btn">Learn</a>
                            <% } else { %>
                                <a href="/topics/<%= topics.id %>" class="inline-btn">View</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <%- include ('footer') %>

<script src="/app.js"></script>
</body>
</html>