<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/progress.css">
</head>
<body>

    <%- include ('header') %>

    <section class="progress">

        <h1 class="heading">Progress</h1>

        <div class="details">
            <div class="user">
                <% if (userImage === 'm') { %>
                    <img src="/images/users/m_user.png" alt="Male Profile Image">
                <% } else { %>
                    <img src="/images/users/f_user.png" alt="Female Profile Image">
                <% } %>
                <h3><%= name %></h3>
                <p>student</p>
            </div>
        

            <div class="box-container">
            
                <div class="box">
                    <div class="flex">
                    <h3>Biology</h3>
                    </div>
                    <p class="score">Quiz Score: <%= biologyScore %>/16</p>
                    <div class="score-image">
                        <img src="<%= bioScoreImg %>" alt="Bio Score Image">
                    </div>
                </div>

                <div class="box">
                    <div class="flex">
                    <h3>Chemistry</h3>
                    </div>
                    <p class="score">Quiz Score: <%= chemistryScore %>/20</p>
                    <div class="score-image">
                        <img src="<%= chemScoreImg %>" alt="Chem Score Image">
                    </div>
                </div>

                <div class="box">
                    <div class="flex">
                    <h3>Physics</h3>
                    </div>
                    <p class="score">Quiz Score: <%= physicsScore %>/20</p>
                    <div class="score-image">
                        <img src="<%= phyScoreImg %>" alt="Phy Score Image">
                    </div>
                </div>

                <a href="/progress_report/<%= studentId %>" class="inline-btn">View Progress Report</a>
            </div>

        </div>
    </section>

    <%- include ('footer') %>
    <script src="/app.js"></script>
    <!-- <script src="/script.js"></script> -->
</body>
</html>