<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Homepage</title>

    <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/public/styles.css">
   
</head>
<body>
    <%- include ('teacher_header') %>
    <section class="subjects">

        <h1 class="heading">Subjects</h1>

        <div class="box-container">
            <% rowdata.forEach((subjects) => { %>
                <div class="box-container" data-subjects-id="<%= subjects.id %>">
                    <div class="box">
                        <h1 class="sub_name"><%= subjects.name %></h1>
                        <img src="<%= subjects.image %>" class="thumbnail">
                        <a href="topics" class="inline-btn">View Topics</a>
                        <a href="" class="delete-btn">Delete Subject</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <div class="create">
        <a href="/create_subject" class="create-btn">Create Subject</a>
    </div>
    <%- include ('footer') %>
</body>
</html>